{% schema %}
{
  "name": "Best Sellers",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true }
  ]
}
{% endschema %}

<div id="bestsellers-container">
  <h2 id="best-section-title"></h2>
  <div id="best-product-container">
    <p id="best-loading-status">Loading bestsellers...</p>
    <ul
      class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down"
    ></ul>
  </div>
</div>

<script src="{{ 'handlebars.min.js' | asset_url }}" defer="defer"></script>

<script id="product-template" type="text/x-handlebars-template">
  {% raw %}
  <li class="grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 4;">
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div class="card card--standard card--media" style="--ratio-percent: 100.0%;">
      <div class="card__inner color-scheme-2 gradient ratio" style="--ratio-percent: 100.0%;">
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              src='{{ image }}'
              sizes="(min-width: 1200px) 267px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              class="motion-reduce"
              loading="lazy"
              width="1600"
              height="1600"
            >
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="/products/the-complete-snowboard" class="full-unstyled-link" aria-labelledby="">
                {{ title }}
              </a>
            </h3>
          </div>
          {{#if isSaleBadgeVisible}}
            <div class="card__badge bottom left"><span  class="badge badge--bottom-left color-scheme-4">Sale</span></div>
          {{/if}}

          <div class="card__badge bottom left"></div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5">
            <a href="/products/{{ handle }}" class="full-unstyled-link" aria-labelledby="">
               {{ title }}
            </a>
          </h3>
          <div class="card-information">
            <span class="caption-large light"></span>
            <div class="price price--on-sale">
              <div class="price__container">
                <div class="price__regular">
                  <span class="visually-hidden visually-hidden--inline">Regular price</span>
                  <span class="price-item price-item--regular"> {{ amount }} {{ currencyCode }} </span>
                </div>
                <div class="price__sale">
                  <span class="visually-hidden visually-hidden--inline">Regular price</span>

                  {{#if isCompareAtPriceVisible}}
                    <span> <s class="price-item price-item--regular">  {{ compareAtPrice }} {{ currencyCode }} </s> </span>
                  {{/if}}

                  <span class="visually-hidden visually-hidden--inline">Sale price</span>
                  <span class="price-item price-item--sale price-item--last"> {{ amount }} {{ currencyCode }} </span>
                </div>
                <small class="unit-price caption hidden">
                  <span class="visually-hidden">Unit price</span>
                  <span class="price-item price-item--last">
                    <span></span>
                    <span aria-hidden="true">/</span>
                    <span class="visually-hidden">&nbsp;per&nbsp;</span>
                    <span> </span>
                  </span>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="card__badge bottom left"></div>
      </div>
    </div>
  </div>
  </li>
  {% endraw %}
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    appUrl = 'https://best-sellers-app-ki368.ondigitalocean.app';
    fetch(appUrl + '/api/bestsellers')
      .then((response) => response.json())
      .then((resp) => {
        const container = document.getElementById('best-product-container');
        const sectionTitle = document.getElementById('best-section-title');
        const ul = document.querySelector('#best-product-container ul');
        let sets = resp.data;
        sectionTitle.innerHTML = sets.settings.title;
        //console.log(resp);
        if (Array.isArray(resp.data.products)) {
          document.getElementById('best-loading-status').style.display = 'none';
          const templateSource = document.getElementById('product-template').innerHTML;
          const template = Handlebars.compile(templateSource);

          resp.data.products.forEach((product) => {
            const variant = product.variants.edges[0]?.node;
            const compareAt = variant?.compareAtPrice?.amount;
            const context = {
              handle: product.handle,
              title: product.title,
              image: product.images.edges[0]?.node.url || '',
              amount: product.variants.edges[0]?.node.price.amount || 'N/A',
              currencyCode: product.variants.edges[0]?.node.price.currencyCode || '',
              compareAtPrice: compareAt || '',
              isSaleBadgeVisible: !!compareAt, // true if compareAt is not null/undefined/empty
              isCompareAtPriceVisible: !!compareAt, // true if compareAt is not null/undefined/empty
            };
            ul.innerHTML += template(context);
          });
        } else {
          container.innerHTML = '<p>No data found.</p>';
        }
      })
      .catch((err) => {
        console.error('Error fetching bestsellers:', err);
        document.getElementById('best-product-container').innerHTML = '<p>Error loading data.</p>';
      });
  });
</script>
